@import "parcials/_var.styl";
@import "parcials/_layout.styl";
@import "parcials/_menu.styl";

@import "parcials/_hero.styl";
@import "parcials/_fotos.styl";
@import "parcials/_social.styl";
@import "parcials/_footer.styl";

