footer{
	background-color: black;
	color: white;
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
footer p{
	margin: 0;


}
footer p a{
	text-decoration: none;
	color: white;
	&:hover{
		color:$colorhover;
	}
}