.hoverLoad{
    height:300vh;
    width: 100vw;
    background-color :rgba(3, 3, 3, 0.9);
    position: fixed;
    z-index:3;
    text-align: center;
    display: none;
    
}
.hoveractive{
    display: block;
}
.hoverLoad img{
  height: 500px;
  width: 500px;
  position: fixed;
  top: 100px;
  right: 450px;
  border-radius: 6px;
  display: none;

}
.isactiveimg{
    display: block !important;
}

.hoverLoad i{
    color: white;
    position: fixed;
    left: 965px;
    top: 81px;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.fotos{
    background-color: $colorSection;
    & img{
        height: 300px;
        width: 300px;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }
}
