.hoverLoad{
    height:300vh;
    width: 100vw;
    background-color :rgba(3, 3, 3, 0.9);
    position: fixed;
    z-index:3;
    text-align: center;
    display: none;
    
}
.hoveractive{
    display: block;
}
.hoverLoad img{
  height: 500px;
  width: 500px;
  position: fixed;
  top: 100px;
  right: 450px;
  border-radius: 6px;
  display: none;

}
.isactiveimg{
    display: block !important;
}

.hoverLoad i{
    color: white;
    position: fixed;
    left: 70%;
    top: 81px;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.fotos{
    background-color: $colorSection;
    & img{
        height: 300px;
        width: 300px;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }
}





@media (max-width :1210px){
     .hoverLoad img{
        height: 50vw;
        width: 50vw;
        position: fixed;
        top: 25vh;
        right: 25vw;
        border-radius: 6px;
        display: none;

                    }

     .hoverLoad i{
    color: white;
    position: fixed;
    right:10vw;
    top: 20vh;
    font-size: 15px;
    cursor: pointer;
    display: none;
                }               
}
@media (max-width:580px){
 .hoverLoad img{
    height: 90vw;
    width: 90vw;
    position: fixed;
    top: 25vh;
    right: 4vw;
    border-radius: 6px;
    display: none;
 }
 .hoverLoad i{
    right: -12vw;
 }
}