.hero{
  height: 100vh;
  width :100vw;
}

.hero img{
  display: none;
}

@media (max-width: 580px){
    .hero{
    height: 60vh;
    }
  .hero img{
  display: block;
  width: 100vw;
  position: relative;
  top: 59px;
}}
@media (max-width: 480px){
  .hero{
    height: 60%;
  }
  .hero img{
  display: block;
  width: 100vw;
  position: relative;
  top: 59px;
}
@media (max-width:450px) {
  body{
    background: black;
}
.hero img{
  display: block;
  width: 100vw;
  position: relative;
  top: 59px;
}
}

}