body{
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  background-image: url(../images/image6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
