.redes{
    height: 200px;
    display:grid;
    grid-template-rows: 80px 1fr;
    justify-content: center;
    background-color:$colorSection;
}
.redes a{
  margin: 30px;
  text-decoration: none;
}
.redes i{
  font-size: 105px;
  color: white;
  &:hover{
  	color:$colorhover;
  }
}
.redes h3{
  text-align: center;
  color: white;
  
}