.redes{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: black;
}
.redes a{
  margin: 30px;
  text-decoration: none;
}
.redes i{
  font-size: 105px;
}
